@charset "utf-8";
.nb{
	padding: 0;
}
.login{
	background-color: #007FC6;padding: 60px 20px;
}
.con1{
	padding: 60px 20px;
	background-color: #007FC6;
	text-align: center;
	color:#FFFFFF;
}	
.con1 img {
	width: 40%;
	height: 40%;
	border-radius: 35px;
}
.con2 {
	text-align: center;
}
.con2 img {
	width: 40%;
	height: 40%;
}

.con3 {
	text-align: center;
	background-color: #007FC6;color:#FFFFFF;
}
.con3 img {
	width: 40%;
	height: 40%;
}
.con4 {
	text-align: center;
	background-color: #FFFFFF;
}
.con4 img {
	width: 40%;
	height: 40%;
}
.con5 {
	text-align: center;
	background-color: #FFFFFF;
}
.con5 img {
	width: 40%;
	height: 40%;
}
.con6 {
	text-align: center;
	background-color: #007FC6;color:#FFFFFF;
}
.con6 img {
	width: 40%;
	height: 40%;
}

#footer {
	background-color: #666;
	border-top: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	color: #eee;
}
#footer a{
	color: #ffffff;
}